.white {
  color: white;
  font-size: 3em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Impact;
}

.smallTown {
  font-family: "Trebuchet MS";
  font-size: 1.65em;
  color: #000000;
  text-decoration: none;
  margin-bottom: 2.3863em;
  margin-top: 1.44em;
}
.text {
  font-family: "Trebuchet MS";
  color: #000000;
  font-size: 1.2125em;
  margin: 0;
}
.leftPush {
  margin-left: 3.4375em;
  margin-top: 5.249375em;
}